[Desktop Entry]
Encoding=UTF-8
Name=Link to ROS/Tutorials/UnderstandingTopics - ROS Wiki
Type=Link
URL=http://wiki.ros.org/ROS/Tutorials/UnderstandingTopics
Icon=text-html
